* {
    margin: 0;
    padding: 0;
}
.head {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.head img {
    width: 136px;
    height: 54px;
    margin-top: 20px;
}
.column {
    width: 100%;
    height: 44px;
    background-image: linear-gradient(to right, rgb(0, 208, 212) 50%, rgb(158, 255, 164));
    margin-bottom: 10px;
}
.main {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.main table {
    border: 1px solid #ececec;
    border-collapse: collapse;
}
.main table tr {
    width: 1200px;
    height: 60px;
    border: 0;
}
.main table tr td {
    width: 360px;
    padding-left: 40px;
    border: none;
}
.main table tr:nth-child(2n) {
    background-color: #f9f9f9;
}
.page {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 20px;
}
.page .left_arrow {
    width: 36px;
    height: 28px;
    float: right;
}
.page .left_arrow img {
    width: 36px;
    height: 28px;
}
.page .page_num {
    float: right;
}
.page .page_num ul a {
    text-decoration: none;
    color: #000;
}
.page .page_num ul a:hover > li {
    color: #5ad0d5;
}
.page .page_num ul li {
    display: inline-block;
    width: 35px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
}
.page .right_arrow {
    width: 36px;
    height: 28px;
    float: right;

}
.page .right_arrow img {
    width: 36px;
    height: 28px;
}
.page .goto {
    float: right;
}